# go
*.test
*.out
*.exe
*.exe~
*.dll
*.so
*.dylib

# vscode
__debug_bin
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Ignore all local history of files
.history